<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B2mate Homepage beta</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start B2Mate</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">฿2Mate</h1>
              <p class="intro-text">B2Mate is our first meching-learning based notification bot to help you
to monitor the strong movements of the cryptocurrencies prices. 
Submit your telegram userID and tweak the parameters,
let bot watch prices for you.
                <br>Register Now</p>
              <a href="#Register" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Register Section -->
    <section id="Register" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Register</h2>
            <form action="#" th:action="@{/register}" th:object="${customer}" method="post">
              <div class="row" style="margin-top:20px">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 float-left text-left" >
                  <label>TelegramID:</label>
                </div>
                <div class="col-lg-4">
                  <input id="telegramID" class="form-control" type="text" th:field="*{telegram}">
                </div>
              </div>
              <div class="row" style="margin-top:20px">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 float-left text-left">
                  <label for="email">Email address:</label>
                </div>
                <div class="col-lg-4">
                  <input type="email" class="form-control" id="email" th:field="*{email}">
                </div>
              </div>


              <div class="row" style="margin-top:20px">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 float-left text-left">
                  <label style="text-align:left">Ceiling:</label>
                </div>
                <div class="col-lg-4">
                  <input type="number" class="form-control" id="ceiling" th:field="*{high}">
                </div>
              </div>

              <div class="row" style="margin-top:20px">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 float-left text-left">
                  <label for="floor">Floor:</label>
                </div>
                <div class="col-lg-4">
                  <input type="number" class="form-control" id="floor" th:field="*{low}">
                </div>
              </div>


              <br>
              <div class="row" style="margin-left:10px">
                <div class="col-lg-2"></div>
                <div class="col-lg-2">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" th:field="*{symbol}" value="BTC/USDT"> BTC/USDT
                  </label>
                </div>
                <div class="col-lg-2">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" th:field="*{symbol}" value="ETH/USDT"> ETH/USDT
                  </label>
                </div>
                <div class="col-lg-2">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" th:field="*{symbol}" value="LTC/USDT"> LTC/USDT
                  </label>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <p> <button type="submit" class="btn btn-primary btn-block" >Submit</button></p>
                  <div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Check Price Section -->


    <section id="Real Time Price Movement" class="download-section content-section text-center">
		
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Check latest news and prices</h2>
			
          <!--<p>You can download Grayscale for free on the preview page at Start Bootstrap.</p> -->
            <!--<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>-->
        </div>
      </div>
		<script type="text/javascript">
baseUrl = "https://widgets.cryptocompare.com/";
var scripts = document.getElementsByTagName("script");
var embedder = scripts[ scripts.length - 1 ];
(function (){
var appName = encodeURIComponent(window.location.hostname);
if(appName==""){appName="local";}
var s = document.createElement("script");
s.type = "text/javascript";
s.async = true;
var theUrl = baseUrl+'serve/v3/coin/chart?fsym=BTC&tsyms=USD';
s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
embedder.parentNode.appendChild(s);
})();
</script>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to leave us a comment on the
              <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale template overview page</a>
              on Start Bootstrap to give some feedback about this theme!</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
